.navbar {
  border-bottom: 1px solid var(--red);
}

.navbar .logoContainer {
  background: var(--red);
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 0 !important;
  padding-left: 0 !important;
}

.navbar .linksContainer {
  background: var(--green);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-top: 0 !important;
}

.navbar .linksContainer .navBtn {
  margin: 1rem 0;
  color: white;
  display: block;
  text-transform: capitalize;
  font-size: 1rem;
  display: flex;
}

.dropdownMenu>div:nth-child(3) {
  background-color: var(--green);
}

.nav-list-1 {
  display: flex;
  flex-direction: column;
}

.nav-item {
  padding: 5px 10px;
  cursor: pointer;
  margin: 1rem;
  list-style: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown a {
  font-weight: 600;
}

.dropdown-content {
  border-top: 2px solid var(--red);
  margin-bottom: 0.2rem;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 1rem;
  padding: 14px 6px;
}

.mobileNavBtn {
  font-size: 1rem;
  border: none;
  font-weight: 600;
  background: none;
  color: white;
}

.mobileDropdownNavBtn {
  color: var(--green);
  font-size: 1rem;
  border: none;
  font-weight: 600;
  background: none;
  margin: 8px 3px;
  text-align: start;
}

.dropdown-content a:hover {
  background-color: rgba(223, 220, 220, 0.959);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bm-burger-button {
  position: relative;
  width: 25px;
  height: 20px;
  left: 0.3rem;
  top: 1.5rem;
  cursor: pointer;
}

.bm-burger-bars {
  background: #fff;
}

.bm-menu {
  background-color: #fff;
  margin-top: -8%;
  margin-left: 20%;
}

.bm-menu nav {
  background-color: var(--green);
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  transition: 1s ease ease-in-out;
}

#page-wrap {
  overflow: auto;
}

/* MEDIA QUERY */

@media only screen and (max-width:1200px) {
  .navbar .linksContainer {
    padding-left: 0;
  }
}

@media only screen and (max-width:992px) {
  .navbar .linksContainer .linksContainerBox {
    gap: 12px;
  }
}