.navbar {
    border-bottom: 1px solid var(--yellow);
}

.navbar .logoContainer {
    background: var(--blue);
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 0 !important;
    padding-left: 0 !important;
}

.navbar .linksContainer {
    background: var(--yellow);
    color: var(--blue);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-top: 0 !important;
}

.linksContainer .navBtn {
    margin: 1rem 0;
    color: var(--blue);
    display: block;
    text-transform: capitalize;
    font-size: 1rem;
}