.mainContainer {
    margin-top: 4.5rem;
    min-height: 89.7vh;
    background-color: #DEE4EA;
    display: flex;
    justify-content: center;
}

.innerContainer {
    width: 70%;
    min-height: 100%;
    background-color: white;
    padding: 2rem;
}

.equivalenciesNavigation {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px 0px;
}

.equivalenciesNavigationLink {
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.equivalenciesNavigation .active {
    text-decoration: underline;
}

/* TABLE */

.tableMainContainer {
    width: 100%;
    height: auto;
}

.tableFilterDiv {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 2rem;
    padding: 2rem;
}

table {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

tr {
    border-bottom: 1px solid grey;
}

th {
    text-align: center;
    padding: 10px;
    color: #1C3564;
}

td {
    text-align: center;
    padding: 10px;
    color: #1C3564;
}

.actionBtnWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.actionBtn {
    width: 32%;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* FORM */

.formContainer {
    margin: auto;
    margin-top: 5rem;
    width: 100%;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px 0px;
    border-radius: 6px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.formHead {
    margin-top: -3.5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

.formContainer input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #1C3564;
}

.formContainer select,
.tableFilterDiv select {
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #1C3564;
}

.formBtn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 2rem 0;
    color: white;
    background-color: black;
}

/* Student Form */

.queryFormHeading {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

.courseSelectBox #demo-multiple-chip {
    border: 1px solid grey;
    padding: 12px;
    display: flex;
    align-items: center;
}

.courseSelectBox fieldset {
    border-color: none;
    border-width: none;
}

/* Student Info */

.courseInfoContainer {
    /* border:2px solid red; */
    margin-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.courseTypeContainer {
    /* border:2px solid; */
    background-color: var(--yellow);
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.courseInfoHead {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--blue);
}

.programDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    color: var(--yellow);
    background-color: var(--blue);
    border-radius: 6px;
}

.studentPrograms {
    color: var(--yellow);
    font-weight: 700;
}

.studentCourses {
    color: var(--yellow);
    padding-left: 1rem;
}

.downloadBtn {
    padding: 8px 15px;
    color: white;
    width: 10rem;
    background: var(--blue);
    text-align: center;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 4px;
}

/* MODAL */

.modalContainer {
    width: 400px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 8px 8px 10px;
    z-index: 999;
}

.modalInput {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(28, 53, 100);
}

.modalBtn {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: black;
}

.modalCloseBtn {
    text-align: center;
    color: red;
    cursor: pointer;
}