/* .footer{
    color:white;
} */

/* .footerBox {
    border: 2px solid red;
} */

.footerBox .logoContainer {
    height: 3rem;
    width: 9rem;
}

.footer .copyrightDiv {
    height: 5rem;
    background-color: var(--green);
}

.footer .copyrightText {
    color: white;
    text-align: center;
}

/* MEDIA QUERY */

@media only screen and (max-width:600px) {
    .footerBox {
        display: flex;
        justify-content: center;
    }

    .footerBox li {
        text-align: center;
    }

    .footerBox .addressBox {
        text-align: center;
    }

    .footerBox .socialMediaBox {
        justify-content: center;
    }
}

@media only screen and (min-width:600px) and (max-width:700px) {
    .footerBox .logoContainer {
        height: 2.5rem;
        width: 8rem;
    }
}