.linksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2c2c2c;
}

.btnBox {
    width: 70%;
    text-align: center;
    color: white;
    /* font-weight: bold; */
}

.btnBox .btn {
    font-weight: bold;
    color: white;
}

.aboutIcons {
    transform: scale(3);
    color: white;
    margin-bottom: 1.5rem;
}

.aboutTextContainer {
    /* border: 2px solid red; */
    height: 100vh;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutTextContainer .aboutTextBox {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.aboutTextContainer .aboutTextBox button {
    background-color: white;
    color: var(--green);
    font-weight: bold;
    text-transform: capitalize;
    width: 40%;
}

/* BG VIDEO  */

.bgVideoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-Index: -1,
}

.bgVideoContainer video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* MEDIA QUERY */

@media only screen and (max-width:900px) {
    .linksContainer {
        flex-direction: row;
        padding: 1.5rem 0;
    }

    .btnBox .btn {
        font-size: 1rem;
    }

    .aboutIcons {
        transform: scale(2);
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width:1200px) {
    .aboutTextContainer .aboutTextBox {
        width: 80% !important;
    }

    .aboutTextContainer .aboutTextBox button {
        width: 50%;
    }
}

@media only screen and (max-width:768px) {
    .aboutTextContainer .aboutTextBox {
        width: 90% !important;
    }
    .aboutTextContainer .aboutTextBox p{
        text-align: justify;
    }
}

@media only screen and (max-width:600px) {
    .innerContainer .aboutTextContainer {
        height: fit-content;
        padding: 2rem;
    }
}

@media only screen and (max-width:400px) {
    .aboutIcons {
        transform: scale(1.5);
    }

    .btnBox .btn {
        font-size: 14px;
    }

    .innerContainer .aboutTextContainer {
        padding: 2rem 0;
    }
}